@namespace EpidemieSimulator.Components

<button @onclick="OnClick"
        class="@ColorCSS shadow-dark
               @SpacingCSS
               @MiscCSS
                w-full
                inline-flex justify-center items-center
                rounded-md focus:outline-none
                text-base sm:text-sm leading-6 sm:leading-5 font-medium
                transition ease-in-out duration-150">
    @Content
</button>